.cans img{
    top:30%;
    left:0;
}
#slide-1{
    background-color: #ffffff;
}
#slide-2{
    background-color: #ffffff;
}
#slide-4{
    background-color: #9fc0bf;
}
#slide-3{
    background-color: #F2F2F2;
}
#slide-6{
    background-color: #ffffff;
}
#slide-5{
    background-color: #d4ede8;
}
#slide-7{
    background-color: #00a94f;
}
#slide-8{
    background-color: #ffffff;
}
#slide-9{
    background-color: #ffffff;
}